pipeline:
  name: pipeline
  host: go-server.your-company.com
  stage: deploy
credentials:
  username: jane.doe
message: since last deploy
mood_cutoffs_in_minutes:
  enraged: 1440
  angry: 1080
  neutral: 120
