<!DOCTYPE html>
<html>
  <head>
    <title>Go Watchdog - ¡Guau guau!</title>
    <link rel="stylesheet" type="text/css" href="watchdog.css" />
    <link href='http://fonts.googleapis.com/css?family=Gorditas' rel='stylesheet' type='text/css'>
  </head>
  <body class="neutral">

    <div class="dashboard">
      <h1 id="time_since_last_green_build">
        <time datetime="">(sniffing it out)</time>
      </h1>
      <h2><%= watchdog_config['message'] %></h2>
    </div>

    <div class="footer">
      <p><a href="https://github.com/rearadmiral/go_watchdog">Go Watchdog</a></p>
    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="jquery.timeago.js"></script>
    <script type="text/javascript">

      var pollServer = function() {
        $.ajax({
            url: "/time",
            success: function(data) {
              $("#time_since_last_green_build time").attr('datetime', data.time)
                .text($.timeago(data.time));

              $('body').removeClass('<%= ImpatientWatchdog::MOODS.join(" ") %>');
              $('body').addClass(data.mood);
            }
          });
      };

      $(function() {
        jQuery.timeago.settings.strings.suffixAgo = "";
        pollServer();
        setInterval(pollServer, 60000);
      });
    </script>

  </body>
</html>
