<!DOCTYPE html>
<html>
  <head>
    <title>Go Watchdog - ¡Guau guau!</title>
    <link rel="stylesheet" type="text/css" href="watchdog.css" />
    <link href='http://fonts.googleapis.com/css?family=Gorditas' rel='stylesheet' type='text/css'>
  </head>
  <body class="neutral">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <div class="dashboard">
      <h1 id="time_since_last_green_build">
        (sniffing it out)
      </h1>
      <h2><%= watchdog_config['message'] %></h2>
    </div>

    <div class="footer">
      <p><a href="https://github.com/rearadmiral/go_watchdog">Go Watchdog</a></p>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        setInterval(function() {
          $.ajax({
              url: "/time",
              success: function(data) {
                $("#time_since_last_green_build").text(data.time);
                $('body').removeClass('<%= ImpatientWatchdog::MOODS.join(" ") %>');
                $('body').addClass(data.mood);
              }
            });
        }, 10000);
      });
    </script>

  </body>
</html>
