<!DOCTYPE html>
<html>
  <head>
    <title>Woof! - Go Watchdog</title>
    <link rel="stylesheet" type="text/css" href="watchdog.css" />
    <link href='http://fonts.googleapis.com/css?family=Gorditas' rel='stylesheet' type='text/css'>
  </head>
  <body class="neutral">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>

    <div class="dashboard">
      <h1 id="time_since_last_green_build">
        ????????
      </h1>
      <h2>since last green installer</h2>
    </div>

    <div class="footer">
      <p><a href="https://github.com/rearadmiral/go_watchdog">Go Watchdog</a></p>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        setInterval(function() {
          $.ajax({
              url: "/time",
              success: function(js) { eval(js); }
            });
        }, 10000);
      });
    </script>

  </body>
</html>


