body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Gorditas', cursive;
}

.angry {
  background-image: url('angry.jpg');
}

.happy {
  background-image: url('happy.jpg');
}

.neutral {
  background-image: url('neutral.jpg');
}

.dashboard {
  margin: 50px 25px 0px 25px;
  width: 75%;
  padding: 0px 10px 0px 50px;
}

.happy .dashboard {
  background-color: green;
}

.angry .dashboard {
  background-color: red;
  border: 10px solid white;
  border-radius: 15px;
}

h1 {
  text-shadow: 3px 3px black;
  font-size: 128px;
  padding-bottom: -65px;
  margin: 20px 0px -25px 0px;
}

h2 {
  text-shadow: 3px 3px black;
  font-size: 64px; 
}

.footer {
  background-color: black;
  border-top: 1px solid #555;
  color: #BBB;
  margin: 0;
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;  
  font-weight: bold;
  text-align: right;
  padding: 2px 20px 2px 0px;
}


a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}
